.h3 {
    line-height: 2em;
    color: #009;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0px;
    background-color: #F6F6F6;
}

a {
    font-size: 16px;
    font-style: normal;
    /*line-height: 1.5em;*/
    color: #060;
    text-decoration: none;
}

    a:link {
        font-size: 16px;
        font-style: normal;
        /*line-height: 1.5em;*/
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
    }

    a:visited {
        color: #FFF;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    a:hover {
        font-weight: bolder;
        color: #FF0;
        font-size: 16px;
        text-decoration: none;
        /*text-align: center;*/
    }


/* Add by Tom Liao */
.container-header {
    height: 55px;
    background-color: #F60;
}

.navbar-brand {
    display: block;
    float: none;
    height: auto;
    padding: 18px;
}

    .navbar-brand > img {
        max-width: 260px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

.nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

    .nav > li > a {
        color: #f0f0f0;
    }

        .nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
            /*color: #c0c0c0;*/
            color: #FF0;
            background-color: transparent;
        }

.navbar-toggle .icon-bar {
    background-color: #F1F1F1;
}

.navbar .navbar-nav {
    display: inline-block;
    float: right;
    vertical-align: top;
    /*height: 55px;*/
    background-color: #F60;
}

.menuItem {
    height: 55px;
    background-color: #F60;
}

.navbar .navbar-collapse {
    text-align: center;
}

.logo-sm {
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Handwriting';
    text-align: left;
    text-decoration: none;
    margin: 0;
}

.subject-title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 1px;
}

.subject-info {
    font-size: 1.2em;
    /*font-style: italic;*/
    margin-bottom: 4px;
}

footer p {
    font-size: 14px;
    text-align: center;
    background-color: #F60;
}
/* End (Tom Liao)*/
